<div id="drawPlot" class="section">
        <div class="row">
            <div class="col s2">
                <div class="sideMenu leftSideMenu">
                    <div class="element">
                        <div id="objectPickMenu"></div> 
                        <div id="objectPickMenu2"></div>
                    </div>
                    <div class="element">
                        <!-- <button onclick="openMenu(document.getElementById('mainSVGContainer'), {x:300,y:500})">debug</button> -->
                        <button onclick="deleteAllTest()">DeleteAll</button>
                        <button onclick="listAllObjects()">debug</button>
                        <button onclick="listAllGrafs()">построить Графы</button>
                        <button onclick="showDate()">Сохранить в файл</button>
                        <input type="button" id="giveInfoToComputationBtn" value="Начать вычисление">
                        <input type="file" onchange="loadDateJSON(this)">
                        <button onclick="objectKeeper.history.console()">historyConsole</button>
                        <button onclick="objectKeeper.history.addHistory()">addHistory</button>
                        <!-- <button onclick="propertyMenu.targetOkno()">OKNO</button> -->
                    </div>
                </div>
                
            </div>

            <div id="mainSVGContainer" class="col s8">  <!-- mainSVGContainer -->
                <svg id="mainSVG" class="" viewbox="-9000 -4500 18000 8000"> <!-- mainSVG 
                                                                        viewbox="-9000 -4500 18000 9000" 
                                                                        preserveAspectRatio="xMidYMid slice"-->
                    <g id="drawGroup">
                    </g>
                </svg>
            </div>
            <div class="col s2" >
                <div class="sideMenu rightSideMenu">
                    <form class="col s12">
                        <div class="row" id="rightSideMenu1">
                            
                        </div>
                    </form>
                </div>
                
                
            </div>
        </div>
        <div class="okno" id="oknoTablePlot">
            <div class = "ewr" id="wss">
                TablePlot
            </div>
        </div>

        <div class="okno" id="okno">
            <div class = "classPropertyOkno" id="propertyOkno">
            фывфывфыв
            </div>
            <button onclick="propertyMenu.closeOkno()" class="closeOkno">Закрыть окно</a>
        </div>


        <nav class="context-menu">
            <ul class="context-menu__items">
                <li class="context-menu__item">
                <a class = "context-menu__link" id="context-menu_edit">
                    <i class="fa fa-edit"></i>Edit Item
                </a>
                </li>
                <li class="context-menu__item">
                <a class = "context-menu__link" id="context-menu_a1">
                    <i class="fa"></i>rotate 90
                </a>
                </li>
                <li class="context-menu__item">
                <a class = "context-menu__link" id="context-menu_a2">
                    <i class="fa"></i>rotate -90
                </a>
                </li>
            </ul>
        </nav>


    {{!-- <ul class='context-menu-right'>
        <li class="context-menu_right_item">
            <a class = "context-menu-right-link" id="context-menu_edit">
            <i class="fa fa-edit"></i>Edit Item
            </a>
        </li>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul> --}}




        <img id="svgStock" class="inject-me " src="/src/Front/Images/Background.svg" 
        style="width:0px; height:0px; padding: 0px; margin: 0px; border: 0px;">
    </div>