<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/src/Front/css/style.css" />   
    <link rel="stylesheet" type="text/css" href="/src/Front/css/rightClickMenu.css" /> 
    <link rel="stylesheet" href="/src/Front/includes/font-awesome-4.7.0/css/font-awesome.min.css">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    
</head>
<body>
    {{> menu}}
      
    {{{body}}}

    {{!-- {{> footer}} --}}
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>

<html>