<h1>Контакты</h1>
<div> Электронная почта:
    <a href="mailto:tsoyangek@gmail.com">tsoyangek@gmail.com</a>
</div>
{{!-- <div>{{#getTime}}{{/getTime}}</div> --}}
{{!-- {{#getSomeText}}{{/getSomeText}} --}}